nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: #000;
  z-index: 999;
  padding: 10px 0;
  position: sticky;
  top: 0px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.date{
  padding: 0;
  margin: 0;
  color: #8f8f8f;
}
ul, li a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-decoration: none;
  color: #8f8f8f;
}
.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A92A1D;
  border: none;
  width: 150px;
  height: 35px;
  color: #f4e4e3;
  border-radius: 10px 2px;
}

.nav-btn:hover{
  background-color: red;
  box-shadow: 0 5px 50px 10px red;
}

.nav-logo{
  width: 100px;
  margin-bottom: 10px;
  padding: 0;
}

.logo1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1 h1{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2rem;
}
.date1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}