nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  position: sticky;
  top: 5px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
ul, li a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A92A1D;
  border: none;
  padding: 5px 30px;
}
.nav-logo{
  border-radius: 50%;
  width: 40px;
}